<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bam_v1_right">

  <xacro:include filename="$(find bam_descriptions)/urdf/common.xacro" />

  <xacro:arg name="transport_path" default=""/>
  <xacro:property name="transport_path" value="$(arg transport_path)" />

  <xacro:arg name="mock_hardware" default="false"/>
  <xacro:property name="mock_hardware" value="$(arg mock_hardware)" />
<!-- Robot -->
  <xacro:include filename="$(find bam_descriptions)/urdf/bam_v1.urdf.xacro"/>
  <xacro:bam_v1_urdf side="right" reflect="-1" transport_path="${transport_path}" mock_hardware="${mock_hardware}"/>

  <xacro:include filename="$(find bam_descriptions)/urdf/teleop_gripper.urdf.xacro"/>
  <!-- <xacro:teleop_gripper_urdf side="right" /> -->

</robot>